####################################
# SQL Server / SSMS junk (ignore)
####################################
*.mdf
*.ldf
*.bak
*.trn
*.xel
*.sqllog
*.sqlplan

####################################
# Temporary / logs
####################################
*.log
*.tmp
*.cache

####################################
# OS junk
####################################
Thumbs.db
desktop.ini
.DS_Store

####################################
# Allow everything inside src
####################################
!**/
